.moving-container {
  display: flex;
  overflow: hidden;
  gap: 20px;
  animation: scroll 20s linear infinite;
}

.moving-img {
  height: 100px;
  width: 210px;
}

@keyframes scroll {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}
